
body{
    margin: 0px;
    text-align: center;
    

    #layout-main{
        height: 100vh;
        color: cornsilk;
        background:linear-gradient(to right , teal 15% , black 50%);

        h1{
            margin: 0px;
        }
    }
}

/*this is the css file which will help stylize the layout*/
//now this is a sccs file